{% extends "base.html" %}
{% block content %}
<h1> LOGIN </H1>
    <form action="" method="post">
{% csrf_token %}

Username:
<input type="text" id="username" name="username" placeholder="Username" required><br><br>


Password:
<input type="password" id="password" name="password"><br><br>


<button type="submit">Login</button>
  </form>
<!--error message varan like password invalid -->
{% for message in messages %}

<div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert"></a>
        {{ message }}
</div>

{% endfor %}
{% endblock %}


